<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
<th:block th:include="fragments/header.html"></th:block>
<body xmlns:th="http://www.thymeleaf.org" >
	<th:block th:include="fragments/menu.html"></th:block>
	PRIMEFACES OSA EI LAHENDU
    <p:panelGrid columns="2">
    	<h:outputText value="#{primeBean.firstName}"/>
    	<h:outputText value="#{primeBean.lastName}" />
	</p:panelGrid>	
	
	<p:commandButton value="Open Dialog" icon="ui-icon-note" >
	</p:commandButton>
</body>
<th:block th:include="fragments/footer.html"></th:block>
</html>